/* From Google Fonts:
Baloo Tammudu 2 and Roboto,
first imported on June 10th, 2021, 01:10,
from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', Arial;
    font-weight: 500;
    color: #003300;
    background-color: azure;
}

/* headings */

h1, h2 {
    font-family: 'Baloo Tammudu 2';
    /*color: #276609;*/
    color: red;
}

/* header */

.fas {
    color: #00cc00;
}

#company-logo{
    float: left;
    font-size: 300%;
    color:  #73ac3e;
}

/* CSS flex-direction property: accessed and copied on June 10th, 2021, 6:40, from
https://www.w3schools.com/cssref/css3_pr_flex-direction.asp */
#nav-menu {
    float: right;
    font-size: 150%;
    margin-right: 150px;
    display: flex;
    flex-direction: reverse;
}

#nav-menu a {
    font-family: 'Baloo Tammudu 2';
    color: #135f13;
}

#nav-menu li {
    float: left;
    margin:0 auto;
    list-style-type: none;
    margin-right: 25px;
    margin-left: 50px;
}


.btn {
    font-family: 'Baloo Tammudu 2';
    background-color:  #135f13;
}

#nav-menu, #company-logo {
    line-height: 50px;
}

.active-page {
    /*color: #00cc00;*/
    color: red;
}

