/* From Google Fonts:
Baloo Tammudu 2 and Roboto,
first imported on June 10th, 2021, 01:10,
from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', Arial;
    color: #003300;
    background-color: rgb(171, 238, 213);
    /* for a general margin all over the website*/
    /*padding: 20px 20px 20px 20px;*/
}

/* headings */

h1, h2, h3 {
    font-family: 'Baloo Tammudu 2';
    color: #276609;
}

/* section separator */
.section-separator {
    height: 10px;
    width: 100%;
    background-color: rgb(160, 224, 160);
}

/* header */

.fas {
    color: #00cc00;
}

#company-logo{
    float: left;
    width: 25%;
    height: 150px;
    font-size: 600%;
    font-weight: bold;
    color:  #73ac3e;
    padding: 10px 0px 0px 10px;
    background-color: rgb(206, 245, 194);
}

/* CSS flex-direction property: accessed and copied on June 10th, 2021, 6:40, from
https://www.w3schools.com/cssref/css3_pr_flex-direction.asp */
#nav-menu {
    width: 75%;
    height: 150px;
    font-size: 150%;
    padding: 10px 0px 0px 0px;
    display: flex;
    /*flex-direction: reverse;*/
    background-color: rgb(206, 245, 194);
}

#nav-menu a {
    font-family: 'Baloo Tammudu 2';
    color: #135f13;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 25px;
    margin-left: 25px;
}

#nav-menu, #company-logo {
    line-height: 100px;
}

#nav-menu .active-page {
    color: #00cc00;
    border-bottom: 1px solid #00cc00;
}

/* modal button */

.btn {
    font-family: 'Baloo Tammudu 2';
    font-size: 100%;
    background-color:  #135f13;
    margin: 25px 25px 50px 25px;
    padding: 10px 10px -10px 10px;
    border: 3px solid #00cc00;
}

.modal-title {
    font-family: 'Baloo Tammudu 2';
    font-size: 125%;
    color:  #00cc00;
    padding-top: 5%;
}

.modal-body {
    font-family: 'Baloo Tammudu 2';
    font-size: 100%;
}

/* backround video in home page */
#background-video {
    width: 100%;
    height: 700px;
    clip-path: inset(0 498 100 0);
    overflow: hidden;
}



/* text content in video */
.content {
    text-align: left;
    position: absolute;
    top: 150px;
    height: 20%;
    width: 40%;
    padding: 50px 50px 50px 50px;
}

.content h1 {
    color: #00cc00;
}

.content h2 {
    color: white;
}

.content p {
    color: #00cc00;
    font-size: 150%;
}

#latest-news {
    height: 300px;
}

#latest-news > h1 {
    margin: 2%;
    text-align: center;
    color: #00cc00;
    margin-bottom: 0;
    padding-left: 25px;
}

#news-carousel-left-title {
    width: 33%;
    height: 25px;
    float: left;
    text-align: center;
}

#news-carousel-middle-title {
    width: 34%;
    height: 25px;
    float: left;
    text-align: center;
}

#news-carousel-right-title {
    width: 33%;
    height: 25px;
    float: right;
    text-align: center;
}

#latest-news > a > h2 {
    color: white;
    padding-top: 0%;
    padding-left: 25px;
}

#latest-news > a > h2:hover {
    color: white;
    text-decoration: underline;
}

#news-carousel-left {
    width: 33%;
    height: 200px;
    padding-left: 25px;
    float: left;
}

#news-carousel-middle {
    width: 34%;
    height: 200px;
    padding-left: 25px;
    float: left;
}

#news-carousel-right {
    width: 33%;
    height: 200px;
    padding-left: 25px;
    float: right;
}

#news-carousel-left-tilte,
#news-carousel-middle-title,
#news-carousel-right-title {
    padding-bottom: 0%;
}

.carousel-item > p {
    padding-top: 5%;
    color: #00cc00;
    font-size: 150%;
    text-align: center;
}

/* About Us page */

#mission-values-vision-columns {
    height: 700px;
}

#mision-column {
    width: 33%;
    float: left;
    height: 700px;
}

#values-column {
    width: 34%;
    float: left;
    height: 700px;
}

#vision-column {
    width: 33%;
    float: right;
    height: 700px;
}

#values-list {
    list-style-type:  none;
    text-align: center;
}

#mission-values-vision, #values-list > li {
    font-family: 'Baloo Tammudu 2';
    font-size: 150%;
    color: white;
    text-align: center;
    padding: 0px 25px 0px 25px;
}

.about-us-images {
    height: 80%;
    width: 80%;
    margin: 10%;
    border: 5px solid #135f13;
}

.about-us-headings {
    color: #00cc00;
    text-align: center;
    margin-top: 2%;
}

#projects-table {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(206, 245, 194);
    border: 5px solid #135f13;
}

#projects-table th{
    background-color: rgb(160, 224, 160);
    font-family: 'Baloo Tammudu 2';
    font-size: 150%;
    color: white;
}

#projects-table tr {
    font-family: 'Roboto', Arial;
    font-size: 125%;
    color: #135f13;
}

#departments-table {
    width: 30%;
    text-align: center;
    border: 5px solid #135f13;
     margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(206, 245, 194);
}

#departments-table th{
    background-color: rgb(160, 224, 160);
    font-family: 'Baloo Tammudu 2';
    font-size: 150%;
    color: white;
}

#departments-table tr {
    font-family: 'Roboto', Arial;
    font-size: 125%;
    color: #135f13;
}

/* Our Services page */

#our-services-video-background {
    background-color: turquoise;
}

#carouselExampleIndicators {
    margin: auto;
    width: 50%;
}

#our-services-description {
    height: 450px;
}

.carousel-item > div > p {
    color:  #00cc00;
}

#services-column-left {
    padding-top: 50px;
    padding-left: 50px;
    width: 30%;
    float: left;
    text-align: left;
}

#services-column-right {
    padding-top: 50px;
    padding-right: 50px;
    width: 30%;
    float: right;
    text-align: right;
}

#services-column-middle {
    padding-top: 50px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.services-column-left-box {
    width: 100%;
    height: 150px;
    float: right;
    margin-bottom: 50px;
    color: white;
}

.services-column-right-box {
    width: 100%;
    height: 150px;
    float: right;
    margin-bottom: 50px;
}

.services-column-middle-box {
    width: 100%;
    height: 150px;
    float: right;
    margin-bottom: 50px;
}

.services-column-left-box > h2,
.services-column-middle-box > h2,
.services-column-right-box > h2 {
    color: white;
}

.services-column-left-box > p,
.services-column-middle-box > p,
.services-column-right-box > p {
    color: #00cc00;
    font-size: 125%;
}

/* Contact Us page */

#contact-us-columns {
    height: 900px;
}

#contact-us-left-column {
    float: left;
    margin-left: 5%;
    width: 45%;
    height: 100%;
    color: white;
    text-align: center;
}

#contact-us-right-column {
    float: right;
    margin-right: 5%;
    width: 45%;
    height: 100%;
    color: white;
    text-align: center;  
}

#office-image {
    margin: 5%;
    width: 60%;
    height: 25%;
    border: 5px solid #135f13;
}

/* Google Map */
#location-map {
    margin: auto;
    width: 60%;
    height: 40%;
    border: 5px solid #135f13;
}

#map {
    width: 100%;
    height: 100%;
    border: 5px solid #135f13;
}

/* Contact Form */

#contact-us-form {
    margin-top: 5%; 
    font-family: 'Roboto', Arial;
    font-size: 125%;
    color: #135f13;
    border: 5px solid #135f13;
    background-color: rgb(206, 245, 194);
    padding: 0px;
}

.form-row-label {
    text-align: right;
    margin: 10px;
    float: left;
    width: 25%;
    margin-top: 10px;
}
  
.form-row-input {
    text-align: left;
    float: left;
    width: 50%;
    margin: 10px;
    padding: 0;
    /*border: 2px solid #135f13;*/
    /*background-color: rgb(171, 238, 213);*/
}
  
.form-row-input-telephone {
    text-align: left;
    float: left;
    width: 25%;
    margin: 10px;
    padding: 0;
    border: 2px solid #135f13;
}

.radio-label {
    text-align: left;
    margin: 10px;
    float: left;
    width: 25%;
    margin-top: 10px;
}

.radio-label > p{
    text-align: right;
}

.radio-input {
    text-align: left;
    float: left;
    width: 5%;
    margin: 10px;
    padding-left: 10px;
}


#name-field, #surname-field, #city-field,
#telephone, #email-field, #department-list,
#description {
    background-color: rgb(171, 238, 213);
    outline: 2px solid #135f13;
    width: 100%;
    padding-left: 5px;
}

#telephone-checkbox ~ label {
    padding: 15px;
    margin-right: 10%;
}

#submit-form-button {
    font-family: 'Baloo Tammudu 2';
    font-size: 125%;
    background-color:  #135f13;
    color: white;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 10px 10px 10px;
    border: 3px solid #00cc00;
}

#contact-details {
    font-family: 'Baloo Tammudu 2';
    text-align: center;
    color: #135f13;
    font-size: 125%;
    font-weight: bold;
}

/* footer */

footer {
    height: 100px;
    background-color: rgb(206, 245, 194);
}

.social-contact-links {
    text-align: center;
    background-color: rgb(206, 245, 194);
}

.social-contact-links > li {
    display: inline;
    background-color: rgb(206, 245, 194);
}

.social-contact-links i {
    font-size: 300%;
    padding: 1%;
    color: cadetblue;
    background-color: rgb(206, 245, 194);
}
